/* src/components/Hero.css */

.header {
  background-color:white;
  background-size: cover;
  background-position: center;
  color: black;
}

.header-container {
  max-width: 84.375em;
  padding-top: 120px;
  padding-bottom: 200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

@media screen and (max-width: 1200px) {
  .header-container {
      padding-bottom: 30px;
  }
}

@media screen and (max-width: 900px) {
  .header-container {
      padding-bottom: 5px;
  }
}

.lol{
  padding: 30px;
  display: flex;
  align-items: start;
  flex-direction: column;
}

.header-overlay {
  font-size: 60px;
  font-family: maven;
  align-items: start;
  font-weight: bold;
  
}

.hero-desc{
  margin-top: 10px;
  font-family: maven;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.more{
  text-align: center;
  text-decoration: none; 
  cursor: pointer;
  margin-top: 20px;
  font-weight: bold;
  font-family: maven;
  width: 150px;
  padding: 15px;
  color: white;
  border-radius: 40px;
  border: none;
  background-color: #608bdd;
  transition: background-color 0.3s ease, color 0.3s ease; 
}

.more:hover {
  background-color: rgb(93, 178, 204);
}

.logo-side {
  padding-top: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.logo{
  position: relative; /* Added position relative */
  height: 500px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(rgb(126, 237, 196) 20%, rgb(77, 114, 184) 90%);
  background: url('assets/Images/ImpExpArrOne.png') center/cover;
}

.logo_two{
  position: absolute; /* Added position absolute */
  top: 220px;
  left: 1;
  right: 1;
  bottom: 0;
  height: 500px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(rgb(126, 237, 196) 20%, rgb(77, 114, 184) 90%);
  background: url('assets/Images/ImpExpArrTwo.png') center/cover;
}

.logo_three{
  position: absolute; /* Added position absolute */
  top: 220px;
  left: 1;
  right: 1;
  bottom: 0;
  height: 500px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(rgb(126, 237, 196) 20%, rgb(77, 114, 184) 90%);
  background: url('assets/Images/ImpExpArrThree.png') center/cover;
}

@media screen and (max-width: 900px) {
  .logo, .logo_two, .logo_three {
      display: none;
  }
}

@media screen and (min-width: 760px) {
  .header-container {
    flex-direction: row;
  }
}

/*-----------------Animation-------------------*/

@keyframes emergesupthree {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes emergesuptwo {
  from {
    opacity: 0;
    transform: translateY(60px) rotate(150deg);
  }
  to {
    opacity: 1;
    transform: translateY(0) rotate(0deg);
  }
}

@keyframes emergesupone {
  from {
    opacity: 0;
    transform: translateY(60px) rotate(280deg);
  }
  to {
    opacity: 1;
    transform: translateY(0) rotate(0deg);
  }
}

.logo{
  opacity: 0;
  animation-name: emergesupone; 
  animation-duration: 1.5s; 
  animation-delay: 0.3s; 
  animation-fill-mode: forwards;
}

.logo_two{
  opacity: 0;
  animation-name: emergesuptwo; 
  animation-duration: 1.1s; 
  animation-delay: 0.7s; 
  animation-fill-mode: forwards;
}

.logo_three{
  opacity: 0;
  animation-name: emergesupthree; 
  animation-duration: 1s; 
  animation-delay: 1.5s; 
  animation-fill-mode: forwards;
}

@keyframes emergess {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.header-overlay{
opacity: 0; 
animation-name: emergess; 
animation-duration: 0.7s; 
animation-delay: 0.2s; 
animation-fill-mode: forwards;
}

.hero-desc{
  opacity: 0; 
  animation-name: emergess; 
  animation-duration: 0.7s; 
  animation-delay: 0.5s; 
  animation-fill-mode: forwards;
  }

.more{
  opacity: 0; 
  animation-name: emergess; 
  animation-duration: 0.7s; 
  animation-delay: 0.8s; 
  animation-fill-mode: forwards;
}
