/* src/components/MainContent.css */

.main-content-bg {
  background-color: white;
  color: black;
}

.main-main-content {
  max-width: 84.375em;
  padding: 2em 2rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/* Tabs styling */
.main-tabs {
  animation-name: emerges; 
  animation-duration: 0.4s; 
  opacity: 0;
  animation-fill-mode: forwards;

  display: flex;
  justify-content: space-around;
  margin-bottom: 1.5em;
  font-size: 20px;
}

.main-tab, .main-tabed {
  width: 100%;
  font-family: manjari;
  padding: 30px;
  padding-top: 40px;
  background-color: white;
  border: 1px solid rgba(190, 190, 190, 1);
  border-bottom: none;
  border-top: none;
  border-left: none;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
}

.main-tabed{
  border-bottom: none;
  border-top: none;
  border-left: none;
  border-right: none;
}

.main-tab.active,.main-tabed.active {
  background-color: rgb(199, 228, 226);
}

.main-tab:hover,.main-tabed:hover {
  background-color: rgb(199, 228, 226);
}

/* Content area */
.main-tab-content {
  margin-top: 1.5em;
}

.col-in{
  animation-name: emerges; 
  animation-duration: 0.4s; 
  opacity: 0;
  animation-fill-mode: forwards;
}

/* Responsive styling */
@media screen and (max-width: 600px) {
  .main-tabs {
    flex-direction: column;
  }

  .main-tab {
    margin-bottom: 0.5em;
    border: none;
  }
}

/*------------------Animations--------------------*/

@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes emerges {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}