/* src/components/MainContent.css */

.main-content-bg {
  background-color: white;
  color: black;
}

.main-main-content {
  max-width: 84.375em;
  padding: 2em 2rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/*--------------------------------------*/

.main-precent-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}

.main-accurate-container-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.main-accurate-container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
}

.main-accurate-icon {
  font-size: 70px;
  color: green;
  margin-bottom: 10px;
}

.main-accurate-no, .main-accurate {
  font-family: manjari;
}


.main-acc-divider-line {
  height: auto;
  width: 3px;
  background-color: rgba(190, 190, 190, 1);
  align-items: center;
  border-radius: 300px;
}

/*--------------------------------------*/

.main-inaccurate-container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding-right: 100px;
  padding-left: 100px;
}

.main-inaccurate-icon {
  font-size: 70px;
  color: red;
  margin-bottom: 10px;
}

.main-inaccurate-no, .main-inaccurate {
  font-family: manjari;
}

/*--------------------------------------*/

.main-mean-container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding-right: 100px;
  padding-left: 100px;
}

.main-mean-icon {
  font-size: 70px;
  color: #4D72B8; 
  margin-bottom: 10px;
}

.main-mean-no, .main-mean {
  font-family: manjari;
}

/*--------------------------------------*/

.main-absolute-container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding-right: 100px;
  padding-left: 100px;
}

.main-absolute-icon {
  font-size: 70px;
  color: #3a4491;
  margin-bottom: 10px;
}

.main-absolute-no, .main-absolute {
  font-family: manjari;
}

/*------------------Animations--------------------*/

@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes emerges {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.main-accurate-container, .main-mean-container{
  opacity: 0; 
  animation-name: slideInFromRight; 
  animation-duration: 1s; 
  animation-delay: 0.2s; 
  animation-fill-mode: forwards;
}

.main-inaccurate-container, .main-absolute-container{
  opacity: 0; 
  animation-name: slideInFromLeft; 
  animation-duration: 1s; 
  animation-delay: 0.2s; 
  animation-fill-mode: forwards;
}

.main-graph-container{
  opacity: 0; 
  animation-name: emerges; 
  animation-duration: 1.2s; 
  animation-delay: 0.4s; 
  animation-fill-mode: forwards;
}